.u-flex-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.u-flex-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 750px) {
  .u-flex-left {
    flex-direction: column;
  }

  .u-flex-right {
    flex-direction: column;
  }
}
