// Contains the homepage elements, sections
.homePage {
  background-color: $color-white-background;
  font-size: 1.6rem;

  &__picture {
    background-image: 
      linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.6), 
        rgba($color-white-background, 0.6)), 
      url('../assets/hackathon.jpg');
    background-size: cover;
    /* holds the image at the top */
    background-position: top;
    position: relative;
  }

  &__welcomeSection {
    background-color: $color-primary-light;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      /* modern css property */
      -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%);
      clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%);
      height: 80vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
  }

  &__greeting {
    height: 40rem;
    width: 80rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      color: $color-white-text;
      font-size: 7rem;
      font-weight: 400;
      transform: translateX(-10rem);
    }

    h2 {
      color: $color-white-text;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 1px;

      span {
        color: $color-secondary;
      }
    }
  }

  &__changingSentence {
    // We need important here so we ovveride the parents h2 selector
    font-size: 4rem !important;
    transform: translateX(-5rem);
  }

  &__hook {
    background-color: $color-white-background;
    padding-bottom: 7rem;
  }
}