.signup {
  min-height: 85vh;
  display: flex;

  &__form {
    background-color: $color-primary-light;
    width: 60%;
    padding: 7rem 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__community{
    background-color: $color-secondary;
    width: 40%;
    border-right: 3px solid $color-primary;

    &-content {
      height: 100%;
      padding: 7rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 1200px) { 
    flex-direction: column;
    height: auto;

    &__form {
      width: 100%;
      padding-bottom: 7rem;
    }

    &__community {
      width: 100%;
      border-left: 3px solid $color-primary;
    }
  }
}

.communityCard {
  background-color: $color-white-background;
  color: $color-primary-light;
  height: 18rem;
  padding: 3rem;
  font-size: 2rem;
  width: 30rem;
  border-radius: 25px;
  transition: all .3s ease-out;

  &:nth-child(2) {
    align-self: flex-end;
  }

  &:hover {
    transform: translateY(-5px);
  }

  @media only screen and (max-width: 1200px) { 
    height: 25rem;
    width: 40rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media only screen and (max-width: 950px) {
    align-self: center;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }
}