*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* We specify the base fontsize, because the rem unit is based on the pages fontsize */
html {
  /* with 10px, 1rem is 10px */
  /* font-size: 10px; */
  /* We change the pixel fontsize to precentage, so the website follows the users option in the browser */
  /* the browsers base fontsize is 16px so 62.5% is 10px */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1rem;
  background-color: #5EFC8D;
  font-family: 'Lato', sans-serif; }

.toolbar {
  background-color: #3A173A;
  border-radius: 3px 3px 0px 0px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .toolbar__logo {
    background-color: #5EFC8D;
    height: 5rem;
    width: 5rem;
    margin-right: auto;
    margin-left: 5rem; }

.navigationItems {
  display: flex;
  margin-right: 25rem;
  align-items: center; }
  .navigationItems__item {
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 3px;
    border: 2px solid transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s; }
    .navigationItems__item:not(:first-child) {
      margin-left: 4rem; }
    .navigationItems__item:hover {
      border: 2px solid #5EFC8D;
      background-color: #5EFC8D;
      transform: translateY(-3px); }
      .navigationItems__item:hover a {
        color: #3A173A; }
    .navigationItems__item a {
      text-decoration: none;
      color: #f3f3f3;
      cursor: pointer; }

.homePage {
  background-color: #f3f3f3;
  font-size: 1.6rem; }
  .homePage__welcomeSection {
    background-color: #582358;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .homePage__welcomeSection {
        /* modern css property */
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%);
        height: 80vh; } }
  .homePage__greeting {
    width: 80rem;
    margin-top: 100px; }
    .homePage__greeting h1 {
      color: #f3f3f3;
      font-size: 7rem;
      font-weight: 400;
      margin-bottom: 4rem; }
    .homePage__greeting h2 {
      color: #f3f3f3;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 1px; }
      .homePage__greeting h2 span {
        color: #5EFC8D; }
