*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* We specify the base fontsize, because the rem unit is based on the pages fontsize */
html {
  /* with 10px, 1rem is 10px */
  /* font-size: 10px; */
  /* We change the pixel fontsize to precentage, so the website follows the users option in the browser */
  /* the browsers base fontsize is 16px so 62.5% is 10px */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1rem;
  background-color: #5EFC8D;
  font-family: 'Lato', sans-serif; }
  @media only screen and (max-width: 1100px) {
    body {
      padding: 0; } }

body::-webkit-scrollbar {
  width: 12px; }
  @media only screen and (max-width: 1100px) {
    body::-webkit-scrollbar {
      width: 0; } }

body {
  scrollbar-width: thin;
  scrollbar-color: #5EFC8D #582358; }

body::-webkit-scrollbar-track {
  background: #582358; }

body::-webkit-scrollbar-thumb {
  background-color: #5EFC8D;
  border-radius: 4px;
  border: 4px solid #582358; }

.u-flex-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.u-flex-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse; }

@media only screen and (max-width: 750px) {
  .u-flex-left {
    flex-direction: column; }
  .u-flex-right {
    flex-direction: column; } }

.application {
  background-color: #f3f3f3;
  padding: 5rem;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5rem;
  width: 40rem;
  height: 50rem;
  color: #582358;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .application__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .application__form-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 7rem; }
      .application__form-field label {
        font-size: 2.3rem;
        margin: 0 auto;
        margin-bottom: 1rem; }
      .application__form-field textarea {
        padding: 2rem;
        color: #582358;
        min-height: 15rem;
        max-height: 15rem;
        min-width: 20rem;
        max-width: 20rem;
        font-size: 2rem; }
    .application__form button {
      cursor: pointer;
      font-size: 2rem;
      height: 4rem;
      width: 20rem;
      margin: 0 auto; }

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 95;
  /* To position it in the top left corner */
  left: 0;
  top: 0;
  background-color: rgba(88, 35, 88, 0.4); }

@keyframes stripe-slide {
  0% {
    background-position: 0% 0; }
  100% {
    background-position: 200% 0; } }

.ctaButton, .ctaButton:visited {
  width: 34rem;
  height: 7rem;
  margin-right: 6rem;
  margin-left: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  color: #3A173A;
  background-color: #5EFC8D;
  border: 2px solid #582358;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
  overflow: hidden;
  position: relative; }
  .ctaButton:after, .ctaButton:visited:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #582358, #582358 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #582358;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px; }
  .ctaButton:hover, .ctaButton:visited:hover {
    background-color: #582358;
    color: #5EFC8D;
    border-color: #3A173A; }
    .ctaButton:hover:after, .ctaButton:visited:hover:after {
      background-image: repeating-linear-gradient(45deg, #5EFC8D, #5EFC8D 1px, transparent 2px, transparent 5px);
      border-top: 1px solid #5EFC8D;
      animation: stripe-slide 12s infinite linear forwards; }

.ctaButton--small, .ctaButton--small:visited {
  width: 26rem;
  height: 4.5rem;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: #3A173A;
  background-color: #5EFC8D;
  border: 2px solid #582358;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
  overflow: hidden;
  position: relative; }
  .ctaButton--small:after, .ctaButton--small:visited:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #582358, #582358 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #582358;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px; }
  .ctaButton--small:hover, .ctaButton--small:visited:hover {
    background-color: #582358;
    color: #5EFC8D;
    border-color: #3A173A; }
    .ctaButton--small:hover:after, .ctaButton--small:visited:hover:after {
      background-image: repeating-linear-gradient(45deg, #5EFC8D, #5EFC8D 1px, transparent 2px, transparent 5px);
      border-top: 1px solid #5EFC8D;
      animation: stripe-slide 12s infinite linear forwards; }

.iconParagraph {
  font-size: 2.5rem;
  font-weight: 600;
  color: #582358;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .iconParagraph p {
    margin-left: 3rem; }
  .iconParagraph:not(:last-child) {
    margin-top: 1.5rem; }

.icon {
  font-size: 3.5rem; }

.linkButton, .linkButton:visited {
  width: 20rem;
  height: 4rem;
  margin-right: 6rem;
  margin-left: 4rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  color: #5EFC8D;
  background-color: #582358;
  border: 2px solid #3A173A;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease; }
  .linkButton:hover, .linkButton:visited:hover {
    background-color: #5EFC8D;
    color: #582358;
    transform: translateY(-5px); }

.loginForm {
  position: absolute;
  top: 110px;
  right: 260px;
  overflow: hidden;
  z-index: 100;
  background-color: #f3f3f3;
  min-height: 20rem;
  width: 30rem;
  padding: 2.5rem;
  border-radius: 0 0 4px 4px; }
  .loginForm form {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .loginForm h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem; }
  .loginForm__field {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center; }
    .loginForm__field input {
      height: 2.5rem;
      width: 75%;
      margin-left: 10px;
      padding: 5px;
      border-radius: 4px;
      border-color: #582358; }
    .loginForm__field-icon {
      font-size: 2.4rem; }
  .loginForm button {
    background-color: #582358;
    color: #f3f3f3;
    font-size: 1.6rem;
    border-radius: 3px;
    border: none;
    border-bottom: 2px solid #5EFC8D;
    cursor: pointer;
    height: 2.7rem;
    width: 8rem;
    outline: none;
    transition: all .2s ease; }
    .loginForm button:hover {
      background-color: #4d1f4d; }
    .loginForm button:active {
      border: 0;
      transform: translateY(1px); }
  .loginForm a, .loginForm a:visited {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    color: #582358; }
    .loginForm a:hover, .loginForm a:visited:hover {
      color: #5EFC8D; }

@media only screen and (max-width: 900px) {
  .loginForm {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 0; }
    .loginForm form {
      height: 100%; }
    .loginForm h1 {
      font-size: 4rem;
      margin-bottom: 1rem; }
    .loginForm__field {
      justify-content: center; }
      .loginForm__field input {
        height: 6rem;
        font-size: 3rem; }
      .loginForm__field-icon {
        font-size: 5rem; }
    .loginForm button {
      width: 20rem;
      height: 6rem;
      font-size: 3rem; }
    .loginForm a, .loginForm a:visited {
      font-size: 2rem; } }

.newsFeed {
  padding: 7rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 1850px) {
    .newsFeed {
      justify-content: center; } }

.countDownCard {
  border: 2px solid #3A173A;
  border-radius: 5px;
  background-color: #5EFC8D;
  padding: 4rem;
  min-height: 35rem;
  background: #5EFC8D;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), inset 0 -3px 4px 0 rgba(0, 0, 0, 0.1), 0 -7px 15px -2px #582358, inset 0 3px 2px -5px #3A173A, inset 0 0 8px 1px #5EFC8D, inset 0 10px 40px 0 #9ffcbb;
  min-width: 45rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 0; }
  .countDownCard h3 {
    font-weight: 600;
    font-size: 3.5rem;
    color: #3A173A; }
  .countDownCard p {
    font-size: 4rem;
    font-weight: 400;
    color: #582358;
    align-self: center;
    justify-self: center;
    margin-top: 2rem; }
  .countDownCard__countDown {
    width: 100%;
    margin: 4rem 0 4px 0;
    padding: 5px;
    border: 2px solid #3A173A;
    border-radius: 3px;
    background-color: #582358;
    font-size: 3rem;
    color: #9ffcbb; }
  .countDownCard__datebox {
    background-color: #582358;
    border: 2px solid #5EFC8D;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .countDownCard__datebox p {
      color: #9ffcbb;
      font-size: 2rem;
      margin-left: 20%;
      margin-bottom: 10px; }
  @media only screen and (max-width: 650px) {
    .countDownCard {
      height: 40rem; } }

.newsCard {
  border: 2px solid #3A173A;
  border-radius: 5px;
  background-color: #5EFC8D;
  padding: 4rem;
  min-height: 35rem;
  background: #5EFC8D;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), inset 0 -3px 4px 0 rgba(0, 0, 0, 0.1), 0 -7px 15px -2px #582358, inset 0 3px 2px -5px #3A173A, inset 0 0 8px 1px #5EFC8D, inset 0 10px 40px 0 #9ffcbb;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s ease-out; }
  .newsCard h2 {
    color: #3A173A;
    font-size: 3.5rem; }
  .newsCard p {
    color: #582358;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 2rem; }
  .newsCard:hover {
    transform: translateY(-5px); }
  @media only screen and (max-width: 1850px) {
    .newsCard {
      margin-top: 3rem;
      margin-left: 3rem; } }

.signupForm {
  min-height: 60rem;
  width: 50rem;
  display: flex;
  flex-direction: column; }
  .signupForm__form {
    background-color: #f3f3f3;
    border-radius: 4px 4px 0 0;
    min-height: 40rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .signupForm__form-field {
      font-size: 2.5rem;
      font-weight: 600;
      color: #582358;
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .signupForm__form-field input {
        color: #582358;
        font-size: 1.8rem;
        height: 3.5rem;
        border: 2px solid #3A173A;
        border-radius: 3px;
        outline: none; }
  .signupForm__controls {
    background-color: #f3f3f3;
    border-radius: 0 0 4px 4px;
    padding: 2rem;
    padding-top: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .signupForm__controls-btn {
      background-color: #582358;
      color: #f3f3f3;
      font-size: 1.8rem;
      border-radius: 3px;
      border: none;
      border-bottom: 4px solid #5EFC8D;
      cursor: pointer;
      height: 4rem;
      width: 15rem;
      outline: none;
      transition: all .2s ease; }
      .signupForm__controls-btn:hover {
        background-color: #4d1f4d; }
      .signupForm__controls-btn:active {
        border: 0;
        transform: translateY(1px); }
      .signupForm__controls-btn:disabled {
        cursor: not-allowed;
        filter: grayscale(80%); }
  .signupForm__review {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .signupForm__review p {
      color: #3A173A;
      font-size: 2.5rem; }
    .signupForm__review p:first-child {
      color: #3A173A;
      font-size: 3rem;
      font-weight: 600;
      margin: 0 auto; }
    .signupForm__review button {
      cursor: pointer;
      font-size: 2.5rem;
      height: 5rem;
      width: 25rem;
      margin: 0 auto; }
  .signupForm__stepCounter {
    height: 7rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: #5EFC8D;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .signupForm__stepDot {
    background-color: #582358;
    border: 2px solid #5EFC8D;
    border-radius: 50%;
    position: relative;
    height: 5rem;
    width: 5rem;
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: center; }
    .signupForm__stepDot:not(:last-child)::after {
      content: '';
      background-color: #5EFC8D;
      height: .3rem;
      width: 5rem;
      position: absolute;
      right: -7rem; }
    .signupForm__stepDot--active {
      background-color: #5EFC8D;
      border: 2px solid #3A173A;
      color: #582358; }

.socialLinks {
  color: #5EFC8D;
  font-size: 4rem;
  width: 50%;
  display: flex;
  justify-content: space-around; }
  .socialLinks__icon {
    cursor: pointer;
    transition: all .3s; }
    .socialLinks__icon:hover {
      transform: translateY(-3px); }
  .socialLinks--dark {
    width: 75%;
    margin: 0 auto;
    margin-top: 1.8rem;
    color: #582358;
    justify-content: space-between; }

.story {
  margin-top: 7rem; }
  .story__box {
    width: 45rem;
    padding: 4rem;
    min-height: 35rem;
    border-radius: 15px;
    background: #fbf7f7;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), inset 0 -3px 4px 0 rgba(0, 0, 0, 0.1), 0 -7px 15px -2px #ffffff, inset 0 3px 2px -5px #e4e1e1, inset 0 0 8px 1px #ffffff, inset 0 10px 40px 0 #e4e1e1;
    display: flex;
    flex-direction: column; }
    .story__box__board-icon {
      font-size: 6rem;
      border-radius: 10px;
      background: linear-gradient(to right bottom, rgba(88, 35, 88, 0.75), rgba(58, 23, 58, 0.75));
      padding: .7rem;
      color: #5EFC8D;
      margin-bottom: 2rem;
      margin-left: 1rem; }
    .story__box h2 {
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 2rem;
      color: #3A173A; }
    .story__box p {
      font-size: 2rem;
      letter-spacing: .5px;
      color: #582358; }
  .story img {
    width: 45rem; }
  @media only screen and (max-width: 1100px) {
    .story__box {
      width: 40rem; }
    .story img {
      width: 40rem; } }
  @media only screen and (max-width: 1000px) {
    .story__box {
      width: 35rem; }
      .story__box__board-icon {
        font-size: 5rem; }
      .story__box h2 {
        font-size: 3.5rem; }
      .story__box p {
        font-size: 1.6rem; }
    .story img {
      width: 35rem; } }
  @media only screen and (max-width: 750px) {
    .story__box {
      width: 45rem;
      margin-bottom: 5rem; }
      .story__box__board-icon {
        font-size: 5rem; }
      .story__box h2 {
        font-size: 3.5rem; }
      .story__box p {
        font-size: 1.8rem; }
    .story img {
      width: 45rem; } }

.toolbar {
  background-color: #3A173A;
  border-radius: 3px 3px 0px 0px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .toolbar__logo {
    color: #5EFC8D;
    height: 5rem;
    width: 5rem;
    margin-right: auto;
    margin-left: 5rem; }
  .toolbar__menu {
    font-size: 3rem;
    color: #582358;
    background-color: #5EFC8D;
    padding: 1rem;
    border-radius: 5px;
    display: none; }
  @media only screen and (max-width: 1100px) {
    .toolbar {
      height: 80px;
      border-radius: 0; } }
  @media only screen and (max-width: 900px) {
    .toolbar {
      position: sticky;
      top: 0;
      z-index: 98; }
      .toolbar > * {
        display: none; }
      .toolbar__menu {
        margin-left: 2rem;
        margin-right: auto;
        display: block; } }

.navigationItems {
  display: flex;
  margin-right: 25rem;
  align-items: center; }
  .navigationItems__item {
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 3px;
    border: 2px solid transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s; }
    .navigationItems__item:not(:first-child) {
      margin-left: 4rem; }
    .navigationItems__item:last-child::before {
      content: '';
      height: 25px;
      width: 4px;
      background-color: #5EFC8D;
      transform: translateX(-6px); }
    .navigationItems__item:hover {
      border: 2px solid #5EFC8D;
      background-color: #5EFC8D;
      transform: translateY(-3px); }
      .navigationItems__item:hover a {
        color: #3A173A !important; }
    .navigationItems__item a {
      text-decoration: none;
      color: #f3f3f3;
      cursor: pointer; }
    .navigationItems__item--active {
      border: 2px solid #5EFC8D; }
      .navigationItems__item--active a {
        color: #5EFC8D !important; }
    @media only screen and (max-width: 1100px) {
      .navigationItems__item {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 900px) {
      .navigationItems__item {
        margin-left: 0;
        margin-bottom: 1rem;
        width: 100%;
        font-size: 2.5rem; }
        .navigationItems__item:not(:first-child) {
          margin-left: 0; } }
  @media only screen and (max-width: 900px) {
    .navigationItems {
      margin: 1rem 0;
      flex-direction: column; } }

.sideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: #3A173A;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform .3s ease-out; }
  .sideDrawer__logo {
    color: #5EFC8D;
    height: 5rem;
    width: 5rem;
    margin-bottom: 4rem; }
  @media only screen and (min-width: 900px) {
    .sideDrawer {
      display: none; } }

.open {
  transform: translateX(0); }

.close {
  transform: translateX(-100%); }

.footer {
  height: 40rem;
  border-top: 4px solid #3A173A;
  background: linear-gradient(to bottom, #3A173A 0%, #222 100%);
  color: #f3f3f3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer__box {
    margin-top: 7rem;
    width: 40%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer__box h1 {
      font-size: 3rem;
      color: #f3f3f3; }
    .footer__box h3 {
      color: #f3f3f3;
      font-size: 2rem; }
    .footer__box p {
      font-size: 1.6rem; }
      .footer__box p a {
        cursor: pointer;
        color: #5EFC8D;
        text-decoration: none; }
    @media only screen and (max-width: 1400px) {
      .footer__box {
        width: 60%; } }
    @media only screen and (max-width: 850px) {
      .footer__box {
        width: 80%; } }
  .footer__end {
    background-color: #111;
    height: 7rem;
    width: 100%;
    margin-top: auto;
    font-size: 2rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__end span {
      color: #5EFC8D; }

.conference {
  display: flex;
  flex-direction: column; }
  .conference__intro {
    background-color: #f3f3f3;
    padding: 7rem; }
    .conference__intro-box {
      margin: 0 auto;
      width: 50%;
      display: flex;
      flex-direction: column; }
      .conference__intro-box h1 {
        font-size: 3.5rem;
        color: #3A173A;
        margin: 0 auto;
        margin-bottom: 4rem; }
      .conference__intro-box p:first-of-type {
        margin: 0 auto;
        font-weight: 600; }
      .conference__intro-box p {
        font-size: 2.2rem;
        color: #582358; }
  .conference__attend {
    display: flex;
    width: 100%; }
    .conference__attend-presenter {
      width: 100%;
      min-height: 50vh;
      padding: 7rem 14rem;
      background-color: #582358;
      font-size: 2.5rem;
      color: #5EFC8D;
      display: flex;
      flex-direction: column; }
      .conference__attend-presenter h1 {
        font-size: 4rem;
        color: #5EFC8D;
        margin: 0 auto;
        margin-bottom: 4rem; }
      .conference__attend-presenter span {
        font-weight: 600;
        font-style: italic; }
      .conference__attend-presenter p:last-of-type {
        font-size: 2rem; }
    .conference__attend-challenger {
      width: 100%;
      min-height: 50vh;
      padding: 7rem 14rem;
      background-color: #582358;
      font-size: 2.5rem;
      color: #5EFC8D;
      display: flex;
      flex-direction: column;
      background-color: #5EFC8D;
      border-right: 3px solid #3A173A;
      color: #582358; }
      .conference__attend-challenger h1 {
        font-size: 4rem;
        color: #5EFC8D;
        margin: 0 auto;
        margin-bottom: 4rem; }
      .conference__attend-challenger span {
        font-weight: 600;
        font-style: italic; }
      .conference__attend-challenger p:last-of-type {
        font-size: 2rem; }
      .conference__attend-challenger h1 {
        color: #582358; }

li {
  margin-left: 4rem; }

@media only screen and (max-width: 1400px) {
  .conference__attend-presenter {
    padding: 7rem 7rem; }
  .conference__attend-challenger {
    padding: 7rem 7rem; } }

@media only screen and (max-width: 1200px) {
  .conference__attend-presenter {
    padding: 7rem 4rem; }
  .conference__attend-challenger {
    padding: 7rem 4rem; } }

@media only screen and (max-width: 1100px) {
  .conference__attend {
    flex-direction: column; }
    .conference__attend-presenter {
      padding: 7rem 14rem; }
    .conference__attend-challenger {
      padding: 7rem 14rem; } }

@media only screen and (max-width: 900px) {
  .conference__attend-presenter {
    padding: 7rem 7rem; }
  .conference__attend-challenger {
    padding: 7rem 7rem; } }

@media only screen and (max-width: 650px) {
  .conference__attend-presenter {
    padding: 7rem 4rem; }
  .conference__attend-challenger {
    padding: 7rem 4rem; } }

@media only screen and (max-width: 1200px) {
  .conference__intro-box {
    width: 60%; } }

@media only screen and (max-width: 850px) {
  .conference__intro-box {
    width: 75%; } }

@media only screen and (max-width: 650px) {
  .conference__intro {
    padding-left: 5rem;
    padding-right: 5rem; }
    .conference__intro-box {
      width: 95%; } }

@media only screen and (max-width: 500px) {
  .conference__intro {
    padding-left: 3rem;
    padding-right: 3rem; }
    .conference__intro-box {
      width: 100%; } }

.contact {
  background-color: #f3f3f3;
  min-height: 80vh;
  padding: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  .contact__formBox {
    height: 60rem;
    width: 50rem;
    padding: 4rem;
    border-radius: 15px;
    background: #fbf7f7;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), inset 0 -3px 4px 0 rgba(0, 0, 0, 0.1), 0 -7px 15px -2px #ffffff, inset 0 3px 2px -5px #e4e1e1, inset 0 0 8px 1px #ffffff, inset 0 10px 40px 0 #e4e1e1; }
    .contact__formBox button {
      cursor: pointer;
      font-size: 2.5rem;
      height: 5rem;
      width: 25rem;
      margin: 0 auto; }
  .contact__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .contact__form-field {
      font-size: 2.5rem;
      font-weight: 600;
      color: #582358;
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .contact__form-field input, .contact__form-field textarea {
        color: #582358;
        font-size: 1.8rem;
        height: 3.5rem;
        border: 2px solid #3A173A;
        border-radius: 3px;
        outline: none;
        max-width: 100%; }
  .contact__contactCard {
    border: 2px solid #582358;
    border-radius: 3px;
    background-color: #5EFC8D;
    height: 40rem;
    width: 50rem;
    padding: 5rem;
    margin-top: 7rem;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .contact__contactCard h3 {
      color: #5EFC8D;
      background-color: #582358;
      padding: .5rem;
      border-radius: 3px;
      font-size: 3rem;
      font-weight: 300;
      margin: 0 auto; }
  .contact__divider {
    height: 1.5px;
    width: 80%;
    background-color: #582358;
    margin: 0 auto;
    margin-top: 1.8rem; }
  @media only screen and (max-width: 1200px) {
    .contact {
      flex-direction: column-reverse;
      justify-content: space-between; }
      .contact__contactCard {
        margin-top: 0;
        margin-bottom: 7rem; } }
  @media only screen and (max-width: 650px) {
    .contact__formBox {
      width: 45rem; }
    .contact__contactCard {
      width: 45rem; }
      .contact__contactCard p {
        margin-left: 10px; } }
  @media only screen and (max-width: 600px) {
    .contact__formBox {
      width: 38rem; }
    .contact__contactCard {
      width: 38rem;
      padding: 1.5rem; }
      .contact__contactCard p {
        margin-left: 0; } }

.homePage {
  background-color: #f3f3f3;
  font-size: 1.6rem; }
  .homePage__picture {
    background-image: linear-gradient(to right bottom, rgba(88, 35, 88, 0.6), rgba(243, 243, 243, 0.6)), url("../assets/hackathon.jpg");
    background-size: cover;
    /* holds the image at the top */
    background-position: top;
    position: relative; }
    @media only screen and (max-width: 850px) {
      .homePage__picture {
        background-image: linear-gradient(to right bottom, rgba(58, 23, 58, 0.85), rgba(88, 35, 88, 0.85)), url("../assets/hackathon.jpg");
        background-size: cover;
        /* holds the image at the top */
        background-position: top; } }
  .homePage__welcomeSection {
    background-color: #582358;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .homePage__welcomeSection {
        /* modern css property so wee need the prefix */
        -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%);
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%);
        height: 80vh; } }
    @media only screen and (max-width: 1200px) {
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        .homePage__welcomeSection {
          -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 65% 100%);
          clip-path: polygon(30% 0, 100% 0, 100% 100%, 65% 100%); } } }
    @media only screen and (max-width: 1000px) {
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        .homePage__welcomeSection {
          -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%);
          clip-path: polygon(35% 0, 100% 0, 100% 100%, 35% 100%); } } }
    @media only screen and (max-width: 850px) {
      .homePage__welcomeSection {
        background-color: transparent;
        clip-path: none;
        padding: 2rem; } }
  .homePage__greeting {
    height: 40rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .homePage__greeting h1 {
      color: #f3f3f3;
      font-size: 7rem;
      font-weight: 400;
      transform: translateX(-10rem); }
    .homePage__greeting h2 {
      color: #f3f3f3;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 1px; }
      .homePage__greeting h2 span {
        color: #5EFC8D; }
    @media only screen and (max-width: 1600px) {
      .homePage__greeting {
        width: 70rem; } }
    @media only screen and (max-width: 1500px) {
      .homePage__greeting {
        width: 65rem; }
        .homePage__greeting h1 {
          font-size: 6rem; }
        .homePage__greeting h2 {
          font-size: 2.5rem; } }
    @media only screen and (max-width: 1350px) {
      .homePage__greeting {
        width: 55rem; }
        .homePage__greeting h1 {
          font-size: 6rem; }
        .homePage__greeting h2 {
          font-size: 2.5rem; } }
    @media only screen and (max-width: 1100px) {
      .homePage__greeting {
        width: 55rem; }
        .homePage__greeting h1 {
          font-size: 4.5rem; }
        .homePage__greeting h2 {
          font-size: 2rem; } }
    @media only screen and (max-width: 1000px) {
      .homePage__greeting h1 {
        transform: translateX(0); }
      .homePage__greeting h2 {
        transform: translateX(0); } }
    @media only screen and (max-width: 850px) {
      .homePage__greeting {
        width: 100%;
        height: 50rem;
        align-items: center; }
        .homePage__greeting h2 {
          text-align: center; } }
  .homePage__changingSentence {
    font-size: 4rem !important;
    transform: translateX(-5rem); }
    @media only screen and (max-width: 1500px) {
      .homePage__changingSentence {
        font-size: 3rem !important; } }
    @media only screen and (max-width: 1100px) {
      .homePage__changingSentence {
        font-size: 2.5rem !important; } }
  .homePage__hook {
    background-color: #f3f3f3;
    padding-bottom: 7rem; }
  .homePage__news {
    background-color: #582358; }

.signup {
  min-height: 85vh;
  display: flex; }
  .signup__form {
    background-color: #582358;
    width: 60%;
    padding: 7rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .signup__community {
    background-color: #5EFC8D;
    width: 40%;
    border-right: 3px solid #3A173A; }
    .signup__community-content {
      height: 100%;
      padding: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .signup {
      flex-direction: column;
      height: auto; }
      .signup__form {
        width: 100%;
        padding-bottom: 7rem; }
      .signup__community {
        width: 100%;
        border-left: 3px solid #3A173A; } }

.communityCard {
  background-color: #f3f3f3;
  color: #582358;
  height: 18rem;
  padding: 3rem;
  font-size: 2rem;
  width: 30rem;
  border-radius: 25px;
  transition: all .3s ease-out; }
  .communityCard:nth-child(2) {
    align-self: flex-end; }
  .communityCard:hover {
    transform: translateY(-5px); }
  @media only screen and (max-width: 1200px) {
    .communityCard {
      height: 25rem;
      width: 40rem;
      font-size: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around; } }
  @media only screen and (max-width: 950px) {
    .communityCard {
      align-self: center;
      margin: 0 auto; }
      .communityCard:not(:last-child) {
        margin-bottom: 7rem; } }
