*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* We specify the base fontsize, because the rem unit is based on the pages fontsize */
html {
  /* with 10px, 1rem is 10px */
  /* font-size: 10px; */
  /* We change the pixel fontsize to precentage, so the website follows the users option in the browser */
  /* the browsers base fontsize is 16px so 62.5% is 10px */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1rem;
  background-color: #5EFC8D;
  font-family: 'Lato', sans-serif; }

.toolbar {
  background-color: #254E70;
  border-radius: 3px 3px 0px 0px; }

.homePage {
  background-color: #f3f3f3;
  font-size: 1.6rem; }
  .homePage__welcomeSection {
    background-color: #336B99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .homePage__welcomeSection {
        /* modern css property */
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%);
        height: 80vh; } }
  .homePage__greeting {
    width: 80rem;
    margin-top: 100px; }
    .homePage__greeting h1 {
      color: #f3f3f3;
      font-size: 7rem;
      font-weight: 400;
      margin-bottom: 4rem; }
    .homePage__greeting h2 {
      color: #f3f3f3;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 1px; }
      .homePage__greeting h2 span {
        color: #5EFC8D; }
