.socialLinks {
  color: $color-secondary;
  font-size: 4rem;
  width: 50%;


  display: flex;
  justify-content: space-around;

  &__icon {
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: translateY(-3px);
    }
  }

  &--dark {
    width: 75%;
    margin: 0 auto;
    margin-top: 1.8rem;
    color: $color-primary-light;

    justify-content: space-between;
  }
}